src/Uhuru.Configuration/UhuruSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Uhuru.Configuration" elementFormDefault="qualified" targetNamespace="urn:Uhuru.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="uhuru" type="tns:Uhuru.Configuration.UhuruSectionCT" />
	<xs:complexType name="Uhuru.Configuration.UhuruSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="dea" type="tns:Uhuru.Configuration.DEAElementCT">
				<xs:annotation>
					<xs:documentation>The DEA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="service" type="tns:Uhuru.Configuration.ServiceElementCT">
				<xs:annotation>
					<xs:documentation>The Service.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Uhuru.Configuration.DEAElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="stacks" type="tns:Uhuru.Configuration.StackCollectionCT">
				<xs:annotation>
					<xs:documentation>The Stacks.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="directoryServer" type="tns:Uhuru.Configuration.DirectoryServerElementCT">
				<xs:annotation>
					<xs:documentation>The DirectoryServer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="baseDir" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BaseDir.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="localRoute" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LocalRoute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="filerPort" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The FilerPort.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="statusPort" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The StatusPort.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="heartbeatIntervalMs" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The HeartbeatIntervalMs.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="messageBus" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MessageBus.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="multiTenant" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Multitenant.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxMemoryMB" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxMemoryMB.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="secure" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Secure.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enforceUlimit" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The EnforceUsageLimit.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="disableDirCleanup" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The DisableDirCleanup.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="useDiskQuota" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The UseDiskQuota.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxConcurrentStarts" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxConcurrentStarts.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="index" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Index.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="advertiseIntervalMs" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The AdvertiseIntervalMs.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Uhuru.Configuration.MSSqlElementCT">
		<xs:attribute name="host" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="user" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The User.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxDbSize" use="optional" type="xs:long">
			<xs:annotation>
				<xs:documentation>The MaxDBSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxLongQuery" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxLengthyQuery.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxLongTx" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxLengthTX.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxUserConns" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxUserConnections.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="logicalStorageUnits" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LogicalStorageUnits.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="initialDataSize" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The InitialDataSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="initialLogSize" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The InitialLogSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxDataSize" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MaxDataSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxLogSize" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MaxLogSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dataFileGrowth" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DataFileGrowth.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="logFileGrowth" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LogFileGrowth.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Uhuru.Configuration.StackCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="stack" type="tns:Uhuru.Configuration.StackElementCT">
				<xs:annotation>
					<xs:documentation>The StackElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Uhuru.Configuration.UhuruFSElementCT">
		<xs:attribute name="maxStorageSize" use="optional" type="xs:long">
			<xs:annotation>
				<xs:documentation>The MaxStorageSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="useFsrm" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The UseFsrm.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="useVhd" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The UseVHD.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="vhdFixedSize" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The VHDFixedSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Uhuru.Configuration.ServiceElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="mssql" type="tns:Uhuru.Configuration.MSSqlElementCT">
				<xs:annotation>
					<xs:documentation>The MSSql.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="uhurufs" type="tns:Uhuru.Configuration.UhuruFSElementCT">
				<xs:annotation>
					<xs:documentation>The Uhurufs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="supportedVersions" type="tns:Uhuru.Configuration.SupportedVersionsCollectionCT">
				<xs:annotation>
					<xs:documentation>The SupportedVersions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="backup" type="tns:Uhuru.Configuration.BackupElementCT">
				<xs:annotation>
					<xs:documentation>The Backup.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="nodeId" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The NodeId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="plan" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Plan.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="migrationNfs" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MigrationNFS.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mbus" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MBus.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="index" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Index.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="statusPort" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The StatusPort.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="zInterval" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The ZInterval.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="baseDir" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BaseDir.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="capacity" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Capacity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="localDb" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LocalDB.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="localRoute" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LocalRoute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxNatsPayload" use="optional" type="xs:long">
			<xs:annotation>
				<xs:documentation>The MaxNatsPayload.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fqdnHosts" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The FqdnHosts.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="opTimeLimit" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The OperationTimeLimit.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Uhuru.Configuration.StackElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Uhuru.Configuration.SupportedVersionsCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="supportedVersion" type="tns:Uhuru.Configuration.SupportedVersionElementCT">
				<xs:annotation>
					<xs:documentation>The SupportedVersionElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="defaultVersion" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DefaultVersion.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Uhuru.Configuration.SupportedVersionElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Uhuru.Configuration.BackupElementCT">
		<xs:attribute name="backupBaseDir" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BackupBaseDir.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timeout" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Timeout.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="serviceName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ServiceName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Uhuru.Configuration.DirectoryServerElementCT">
		<xs:attribute name="fileApiPort" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The FileApiPort.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="v1Port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The V1Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="v2Port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The V2Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="streamingTimeoutMS" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The StreamingTimeoutMS.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="logger" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Logger.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
